[submodule "backend"]
	path = backend
	url = https://github.com/IUT-Industry-4/backend
[submodule "devops"]
	path = devops
	url = https://github.com/IUT-Industry-4/devops
[submodule "frontend"]
	path = frontend
	url = https://github.com/IUT-Industry-4/frontend
[submodule "frontend-admin"]
	path = frontend-admin
	url = https://github.com/IUT-Industry-4/frontend-admin-panel.git
